pipeline/Parent_pipeline_git_to_datalake.json
{
	"name": "Parent_pipeline_git_to_datalake",
	"properties": {
		"activities": [
			{
				"name": "ExecuteGithub_to_Datalake",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "github_to_datalake",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_array": {
							"value": "@pipeline().parameters.p_array",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "FailureAlert",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ExecuteGithub_to_Datalake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-58.eastus2.logic.azure.com:443/workflows/5b4a116cb61c41ae9daa9c43b4b6a925/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=-qCpleTl-pZyHXP572lXyy_-oqf2RhbUBvCW5lwy1WU",
					"body": {
						"value": "{\n    \"pipeline_name\": \"@{pipeline().Pipeline}\",\n    \"run_id\": \"@{pipeline().RunId}\",\n    \"status\": \"@{activity('ExecuteGithub_to_Datalake').Status}\"\n    \"error_msg\": \"@{if(equals(activity('ExecuteGithub_to_Datalake').Status, 'Failed'),string(activity('ExecuteGithub_to_Datalake').error),'No_error')}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p_array": {
				"type": "array",
				"defaultValue": [
					{
						"folder_name": "netflix_cast",
						"file_name": "netflix_cast.csv"
					},
					{
						"folder_name": "netflix_category",
						"file_name": "netflix_category.csv"
					},
					{
						"folder_name": "netflix_countries",
						"file_name": "netflix_countries.csv"
					},
					{
						"folder_name": "netflix_directors",
						"file_name": "netflix_directors.csv"
					}
				]
			}
		},
		"annotations": []
	}
}